<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="referrer" content="never" />
        <meta name="referrer" content="no-referrer" />
    
        <script>
            (function () {
                window._splunk_metrics_events = [];
                window._splunk_metrics_events.active = true;

                function onLoadSwa() {
                    new SWA({"deploymentID": "d418b6ce-0d51-53f3-8c81-c583452f18ab", "instanceGUID": "095E0115-F351-46B3-85B4-8F472C4AF53F", "url": "https://e1345286.api.splkmobile.com/1.0/e1345286", "version": "2", "userID": "ee8c95f715772854041ae4dd65d553cf4c7029af9427a47874fd0a6e5b0ca29b"});
                };

                document.addEventListener("DOMContentLoaded", function(event) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '/en-US/static/app/splunk_instrumentation/build/pages/swa.js';
                    s.addEventListener('load', onLoadSwa);
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                });
            }());
        </script>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ASU Map HTML5</title>
    <link rel="shortcut icon" href="/en-US/static/@B073EC330B5FAA2FC8E5CB830C49E833E241AA77838148C0A5D72FB5C7335948/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />

</head>
<body class="simplexml preload locale-en" data-splunk-version="6.6.1" data-splunk-product="enterprise">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <style type="text/css">
    #mapid{ height: 500px;}
  </style>
    
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<header>
    <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
    <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
                <div id="placeholder-app-bar"></div>
    </div>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>ASU Map HTML5</h2>
    </div>
    <div class="fieldset">
        <div class="input input-text" id="input1">
            <label>Search</label>
        </div>
        <div class="input input-dropdown" id="input2">
            <label>Category</label>
        </div>
        <div class="form-submit" id="search_btn">
            <button class="btn btn-primary submit" id="searchButton">Submit</button>
        </div>
    </div>


    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element html" style="width: 100%">
                        <div class="panel-body html">
                                <h2>Campus Map</h2><div id="mapid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel2" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element2" class="dashboard-element table" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
END LAYOUT
-->

<script type="text/javascript" src="splunk.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
  <script id="jsondata" type="application/json"><?php include("{{SPLUNKWEB_URL_PREFIX}}/static/app/maps_test/ASUBuildingsLoc.json"); ?></script>
<script type="text/javascript">
// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // TokenForwarder
        ) {

        var pageLoading = true;
		var SearchManager = require("splunkjs/mvc/searchmanager");

        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});
  		

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        
        
        //
        // SEARCH MANAGERS
        //

        
var search1 = new SearchManager({
            "id": "search1",
            "search": "| inputlookup ASU_Facilities_Geo_Data_DD.csv | search \"$drop_input$\"=\"$text_input$*\"",
            "latest_time": "$latest$",
            "status_buckets": 0,
            "sample_ratio": null,
            "earliest_time": "$earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "tokenDependencies": {
            },
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});


        //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideAppBar": false, "hideChrome": false, "hideFooter": false, "hideSplunkBar": false})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: true
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element1 = new HtmlElement({
            "id": "element1",
            "useTokens": true,
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        DashboardController.addReadyDep(element1.contentLoaded());
        
        var element2 = new TableElement({
            "id": "element2",
            "managerid": "search1",
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new TextInput({
            "id": "input1",
            "default": "",
            "value": "$form.text_input$",
            "el": $('#input1')
        }, {tokens: true}).render();

        input1.on("change", function(newValue) {
            FormUtils.handleValueChange(input1);
        });
        
        var input2 = new DropdownInput({
            "id": "input2",
            "choices": [
                {"value": "Abbreviation", "label": "Abbreviation"},
                {"value": "Address", "label": "Address"},
                {"value": "Campus/Site Location", "label": "Campus/Site Location"},
                {"value": "Facility Name", "label": "Facility Name"},
                {"value": "Facility Number", "label": "Facility Number"}
            ],
            "selectFirstChoice": false,
            "default": "Facility Name",
            "showClearButton": true,
            "value": "$form.drop_input$",
            "el": $('#input2')
        }, {tokens: true}).render();

        input2.on("change", function(newValue) {
            FormUtils.handleValueChange(input2);
        });
        

        // 
        // SUBMIT FORM DATA
        //

        var submit = new SubmitButton({
            id: 'submit',
            el: $('#search_btn')
        }, {tokens: true}).render();


        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


		  submit.on("submit", function() {
                submitTokens();
           });


		require


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

		require([
    "jquery",
    "splunkjs/mvc",
    "leaflet",
    "splunkjs/mvc/simplexml/ready!",
    ],
    function(
        $,
        mvc,
        L
    )
    {

        require(["leaflet"],function(L){

                //getting link through php to load JSON data
                jsonPHPfunct = document.getElementById('jsondata').textContent;
                jsonHTTPlink = (jsonPHPfunct.split("\""))[1];
                $.getJSON(jsonHTTPlink,
                        function(json)
                        {
                                   //map setup and options
                                   var mymap = L.map("mapid").setView([33.4255, -111.9400], 13);

                                   L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                                          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                                         }).addTo(mymap);

                                    var markers = []
                                    var bldgData = json["buildings"];

                                //Functions to hide and show markers


								var parseData = function(event){
         							console.log(event._data.results);
         							//console.log(event._data.results.length);
         							console.log("parse data has been executed");
									return event._data.results;
								}

								var find_id = function(evnt){
                                        var newNum = 0;
                                        if(evnt.target._leaflet_id < 17)
                                                return newNum;
                                        else{
                                                newNum = evnt.target._leaflet_id - 18;
                                                return newNum
                                        }
                                };


                                //building and formatting the marker layers
                                for(var i = 0; i < bldgData.length; i++)
                                {
                                        markers.push(L.marker([bldgData[i]["latitude"], bldgData[i]["longitude"]]).addTo(mymap));
                                        markers[i].bindPopup(bldgData[i]["Facility Name"]);
                                        markers[i].on('click', function(e){
                                                var bldgName = bldgData[find_id(e)]["Facility Name"];
												var tokens = mvc.Components.get("submitted");
												var searchObj1 = mvc.Components.getInstance("search1");
												var inpObj = mvc.Components.get("input1");
												tokens.set("text_input", bldgName);
												inpObj.val(bldgName);
            									//search1.data("results");

												searchObj1.startSearch();
            
												console.log(input1.val());
                                        });
										
          								markers[i].on('mouseover', function (e) {
            								this.openPopup();
        								});
        
										markers[i].on('mouseout', function (e) {
            								this.closePopup();
                						});

                                }

                       
                        //      add this to html document later, does not work on this script
                                $("#searchButton").click(function(){
                                        console.log("First value incoming");
										console.log(input1.val());
          								//mymap.removeLayer(markers[0]);

										//erase all markers
										for(var i = 0; i < markers.length; i++)
										{
											mymap.removeLayer(markers[i]);
										}


										var xhr = new XMLHttpRequest();
										xhr.open("GET", "url", true);
          								xhr.setRequestHeader("Accept", "application/json");
										
                        				search1.startSearch();
                        				
          
										console.log("value incoming");
										console.log(input1.val());
										var result1;
										var i = 0;
             							var mainSearch = splunkjs.mvc.Components.get("search1");
          
										var myResults = mainSearch.data('results', {count: 0, output_mode: 'json'}).on('data', parseData);
										myResults.on("data", function() {
                                                      // The full data object
              
														result1 = myResults._data.results;
              
														for(var j = 0; j < result1.length; j++)
														{
  															for(var k = 0; k < markers.length; k++)
															{
																if(result1[j].latitude == markers[k]._latlng.lat)
																{
																	if(result1[j].longitude == markers[k]._latlng.lng)
																	{
																		markers[k].addTo(mymap);
																	}
																}
															}
														}
                                                  });
                  		
                       
 

                                });

                        });




        });

    });



    }
);
// ]]>
</script>
<!--<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/maps_test/mapsScript.js" type="text/javascript"></script>-->

</body>
</html>
